<h1>Listing Ores</h1>
<table class="table table-bordered table-striped tablesorter">
  <thead>
    <tr>
      <th>Name</th>
      <th>Refine</th>
      <th>Volume (m<sup>3</sup>)</th>
      <% if @can_edit %>
        <th class="edit-field">Edit</th>
      <% end %>
    </tr>
  </thead>
  
  <tbody>
    <% @ores.each do |ore| %>
      <tr>
        <td><%= link_to ore.name, ore %></td>
        <td><%= ore.refine %></td>
        <td><%= ore.volume %></td>
        <% if @can_edit %>
          <td class="edit-field"><%= link_to image_tag('/edit.png', :alt => 'Edit'), edit_ore_path(ore) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
