<h1>Listing Ice Ores</h1>
<table class="table table-bordered table-striped tablesorter">
  <thead>
    <tr>
      <th>Name</th>
      <th>Volume (m<sup>3</sup>)</th>
      <th>EVE-Central ID</th>
      <th class="edit-field">Edit</th>
    </tr>
  </thead>

  <tbody>
    <% @ice_ores.each do |ice_ore| %>
      <tr>
        <td><%= link_to ice_ore.name, ice_ore %></td>
        <td><%= '%i' % ice_ore.volume %></td>
        <td><%= ice_ore.central_id %></td>
        <td class="edit-field">
          <%= link_to image_tag('/edit.png', :alt => 'Edit'), edit_ice_ore_path(ice_ore) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
