$footer-height: 52px;
$header-height: 50px;

th {
  text-align: center;
}

th, td {
  vertical-align: middle !important;
}

html, body {
  margin: 0;
  padding-top: $header-height/2;
  padding-bottom: $footer-height;
  height: 100%;
}

#wrap {
  height: auto !important;
  position: relative;
  padding-bottom: $footer-height*5/4;
  min-height: 100%;
  height: 100%;
}

#footer {
  background-color: #333;
  color: #999;
  height: $footer-height;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}

.edit-field {
  width: 45px;  
  text-align: center;
}

.footer-content {
  margin: $footer-height/3 0;
}

.table {
  width: auto;
}

.tablesorter {
  cursor: pointer;
}
