$footer-height: 54px;
$header-height: 50px;

table {
  margin-top: 20px;
}

th {
  text-align: center;
}

th, td {
  vertical-align: middle !important;
}

html, body {
  margin: 0;
  padding-top: $header-height/2;
  padding-bottom: $footer-height;
  height: 100%;
}

.edit-field {
  width: 45px;  
  text-align: center;
}

.form-horizontal {
  padding-top: 25px;
}

.form-control {
  padding: 0 5px;
  height: 30px;
}

.full-width {
  width: 100%;
}

.sub {
  float: left;
  padding-right: 20px;
}

.table {
  width: auto;
}

.tablesorter thead {
  cursor: pointer;
}

#footer {
  background-color: #333;
  color: #999;
  height: $footer-height;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}
