[Unit]
Description=Puma HTTP Server for eve_industrial (production)
After=network.target

[Service]
Type=simple
User=ec2-user
WorkingDirectory=/home/ec2-user/eve_industrial/current
ExecStart=/bin/bash -lc 'source /home/ec2-user/.rvm/scripts/rvm && rvm $(cat /home/ec2-user/eve_industrial/current/.ruby-version) do bundle exec puma -C /home/ec2-user/eve_industrial/shared/puma.rb'
ExecReload=/bin/kill -TSTP $MAINPID
StandardOutput=journal
StandardError=journal
Restart=always
RestartSec=1
SyslogIdentifier=puma

[Install]
WantedBy=multi-user.target
