<h1>Listing Regions</h1>
<table class="table table-bordered table-striped tablesorter">
  <thead>
    <tr>
      <th>Name</th>
      <th>EVE-Central ID</th>
      <% if @can_edit %>
        <th class="edit-field">Edit</th>
      <% end %>
    </tr>
  </thead>
  
  <tbody>
    <% @regions.each do |region| %>
      <tr>
        <td><%= link_to region.name, region %></td>
        <td><%= region.central_id %></td>
        <% if @can_edit %>
          <td class="edit-field"><%= link_to image_tag('/edit.png', :alt => 'Edit'), edit_region_path(region) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
